@import "globals";

div.fade-enter {
  opacity: 0;
  transform: scale(0);
}

div.fade-enter.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 400ms;
}
div.fade-exit {
  opacity: 1;
  transform: scale(1);
}
div.fade-exit.fade-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: all 400ms;
}
div.main-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}
