@import "globals";

div.home-content {
  text-align: center;
  flex: 1 0 auto;
  min-height: calc(100vh - 78px);
  div.home-map {
    width: 100%;
    height: 400px;
    position: relative;
    background: url('/images/background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    h1 {
      font-family: monospace;
      color: #fff;
      text-shadow: -2px -2px 2px #000;
      margin: auto;
      position: absolute;
      height: 30px;
      width: 100%;
      max-width: 515px;
      background: rgba(25,25,112,0.5);
      border-radius: 5px;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
    }
    p {
      margin: auto;
      color: #fff;
      position: absolute;
      right: 5px;
      font-family: monospace;
      bottom: 5px;
      font-size: 10px;
      background: rgba(9,9,9,0.7);
      padding: 3px;
    }
  }
  div.home-description {
    margin: auto 5px;
    p {
      color: #fff;
      width: 100%;
      max-width: 680px;
      font-family: monospace;
      margin: 20px auto;
      font-size: 16px;
      text-align: justify;
    }
    div.greet-user {
      color: #fff;
      font-size: 16px;
      font-family: monospace;
      span {
        border-bottom: 1px solid #fff;
        padding-bottom: 2px;
      }
      a {
        margin: 15px auto;
      }
    }
    a {
      color: #fff;
      margin: 15px 5px;
      display: inline-block;
      font-family: monospace;
      border: 2px solid dimgray;
      border-radius: 5px;
      background: #000;
      padding: 3px;
    }
    a:hover {
      transform: scale(0.9);
    }
    p.not-authorized {
      text-align: center;
    }
  }
}

@media screen and (max-width: 527px) {
  div.home-content div.home-map h1 {
    height: 60px;
    max-width: 300px;
  }
}
