@import "globals";

div.change-credentials {
  /*background: midnightblue;*/
  text-align: center;
  font-family: monospace;
  color: #fff;
  flex: 1 0 auto;
  min-height: calc(100vh - 78px);
  h1{
    margin: auto;
    padding: 30px 0px 50px;
  }
  form {
    width: 100%;
    max-width: 600px;
    margin: auto;
    input {
      width: 100%;
      max-width: 280px;
      margin: 10px 10px;
      border-radius: 5px;
      border: 2px solid dimgray;
      padding: 5px;
      font-family: monospace;
      color: #fff;
      background: #000;
    }
    input:active {
      box-shadow: 0px 0px 10px 5px rgba(192, 192, 192, 0.3);
    }
    input:focus {
      outline: none;
      transform: scale(1.1);
    }
    input[type="file" i] {

    }
    input[type="submit"] {
      width: 100%;
      max-width: 70px;
      margin: 40px 110px;
      padding: 3px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      transform: scale(0.9);
    }
  }
  div.img-preview {
    margin: 20px auto;
    div.previewText {
      color: #fff;
      font-family: monospace;
    }
    img {
      width: 100%;
      max-width: 45px;
      border-radius: 30px;
    }
  }
  button.remove-account {
    font-family: monospace;
    border: 2px solid dimgray;
    border-radius: 5px;
    background: #000;
    padding: 3px;
    color: #fff;
    cursor: pointer;
    margin: 20px auto 50px;
  }
  button.remove-account:hover {
    transform: scale(0.9);
  }
  div.remove-me {
    width: 100%;
    max-width: 300px;
    margin: auto auto 50px;
    button {
      margin: 10px 5px;
      font-family: monospace;
      border: 2px solid dimgray;
      border-radius: 5px;
      background: #000;
      padding: 3px;
      color: #fff;
      cursor: pointer;
    }
    button:hover {
      transform: scale(0.9);
    }
  }
}
